In [0]:
import tweepy
import pandas as pd
import pickle

# Authentication
consumer_api_key = 'xQJqJI7U49K175YaRxQIfbuQW'
consumer_api_secret_key = 'ZHXzjh6Vw5BHF77NJn6hEw8iKpWlc8ZmWmRuLNuyMEpzABzGbT'

access_token = '1233446515554705408-t2FeSvxBwSydx0HUKrcdACgqwcPkbF'
access_token_secret = '5jrcKajK5ZG5F1C520QrOHydqr8O8Gdr85Hl5BDCyWE4P'
 
auth = tweepy.OAuthHandler(consumer_api_key, consumer_api_secret_key)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [0]:
def getTweets(searchString, df):
  for tweet in tweepy.Cursor(api.search, q=searchString, lang='en',since='2020-04-14', until='2020-04-15').items(15000):
    df = df.append(pd.Series([tweet.user.screen_name, tweet.created_at, tweet.user.location, tweet.text], index=df.columns), ignore_index=True)
  return df

In [0]:
df3 = pd.DataFrame(columns=['screen_name', 'date_time', 'location', 'text'])

In [0]:
df3 = getTweets('Hulu', df3)

Rate limit reached. Sleeping for: 204
Rate limit reached. Sleeping for: 857
Rate limit reached. Sleeping for: 855
Rate limit reached. Sleeping for: 852

In [0]:
df3.shape

(12875, 4)

In [0]:
df3.tail(10)

           screen_name  ...                                               text
12865     CheetoHeffna  ...  RT @PowersPleasant: Everyone go watch Parasite...
12866     giannarenaee  ...  RT @loveydoveysteph: Hulu been hittin better t...
12867        JonSaltis  ...  RT @barstooltweetss: HBO's McMillion$ Document...
12868         Kate4Djt  ...  @TrumpNoodles Cut the cable- stream everything...
12869       mtzg_neida  ...  Watching #911onFOX since I didn’t forgot and d...
12870  FortuneMagazine  ...  From Hulu to YouTube TV, Sling, and more—these...
12871        elijahyab  ...  @MASHFanficChick @911onFOX I have no tv. I alw...
12872     angelbabyy69  ...  why is hulu being a bitch and not showing the ...
12873   RecentCutbacks  ...  Pressing play. Time to get LOST on @Hulu. #los...
12874      GoodTrouble  ...  There is no denying that drunk Callie has a ce...

[10 rows x 4 columns]

In [0]:
df3.to_excel('Hulu15.xlsx',index=False,encoding='utf-8')

In [0]:
df1 = pd.read_excel('Hulu.xlsx')
df2 = pd.read_excel('Hulu1.xlsx')
df3 = pd.read_excel('Hulu2.xlsx')
df4 = pd.read_excel('Hulu4.xlsx')

In [0]:
df = pd.concat([df1,df2,df3,df4])

In [0]:
df.shape

(24000, 4)

In [0]:
df.to_excel('HuluFinal.xlsx',index=False,encoding='utf-8')